html{
	overflow-y:scroll;
}

body{
	background-color: #ffd; 
	background-image: 
		linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
/*	background-image:url('../images/bubbles.jpg');
	background-repeat: repeat;
	background-color:white;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size:0.8em; /* using em, allows font size to change through browser*/
	margin:10px;
}
.nav-bar{
	display:inline-block;
	width:100%;
	height:50px;
	line-height:50px;
	background-color:#fcb71f;
	text-align:center;
	font-size:2em;
	font-weight:bold;
	position:fixed;
	top:0px;
}
.container{
	display:inline-block;
	width:100%;
	/*background-color:#ff00ff;*/	
}
.side-menu{
	position:fixed;	
	width:180px;
	top:50px;
}

.side-button{
	display:inline-block;
	background-color:#fcb71f;
	background:-webkit-linear-gradient(#f4a620,#f7dd72);
	background:-o-linear-gradient(#f4a620,#f7dd72);
	background:-moz-linear-gradient(#f4a620,#f7dd72);
	background:linear-gradient(#f4a620,#f7dd72);
	width:130px;
	height:30px;
	line-height:30px;  
	text-align:center;
	border-radius:12px;
	padding:5px;
	margin:5px;	
}

.side-button:hover{
	cursor:pointer;
	color:#faf7fc;
	background:#ef8a3b;
}

.side-button.active{
	color:#faf7fc;
	background:#ef8a3b;
}
.resultsBoard{
	position:fixed;
	left:170px;
	top:55px;
	width:800px;
	background-color:#ffd;
	text-align:center;
	border:1px solid black;
	border-radius:10px;
	border-style:groove;

	
}
.resultTable{
	border:1px solid black;
	border-collapse:collapse; /* single border */
}
.resultTable td{
	border-bottom:1px solid black;
	border-top:1px solid black;
	text-align:left;
	padding:5px;
}
.resultTable tr:hover{
	background-color:#fdcf4b;
}

td img{
	width:50px;
}

.title{
	font-size:1.4em;
	width:100%;
	padding:5px;	
	cursor:pointer;
}

.planboard{
	position:fixed;
	right:30%;
	top:55px;
	display:block;
	width:300px;
	background-color:#6b8e23;
	/*background:transparent;*/
	text-align:center;
	border:10px;
	border-style:ridge;
	border-color:#f0e68c;
	color:#ffffe0;
	font-family:"Comic Sans MS", cursive, sans-serif;
	letter-spacing:1px;
}
.card{
	display:inline-block;
	/*width:200px*/;
	/*background-color:#f9d879;*/
	background-color: #ffd; 
	background-image: 
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	margin:10px;
	border-radius:10px;
	color:#808080;
}

.card a{
	text-decoration:none;
	font-weight:bold;
	color:#2337fb;
}

.heading{
	display:block;
	padding:2px;
	text-align:center;
	/*border: 1px solid #fcb71f;
	border-radius:5px;*/
	color:#808080;	
	font-size:1.2em;
}
.content{
	display:inline-block;
	width:160px;
	height:auto;
	text-align:left;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-left:15px;
	margin-right:1px;
	margin-top:0px;
	margin-bottom:0px;
	color:#696969;
	
}
.content li{
	line-height:18px;
	padding:0px;
}
.dragItem{ 
   opacity: .5;
}

.dragItem a{
	text-decoration: none;
   	cursor:default;
}


.dropItem{
	opacity:0.7;
	border:5px solid #e3610c;
}

.imageSmall{
	width:50px;
}
.imageMed{
	width:70px;
}
.imageLarge{
	width:100px;
}

